footer {
  margin: 3rem auto;
  width: 80%;
  @media (min-width: 800px) {
    max-width: 1200px;
  }

  h4 {
    color: #777777;
    padding: 1rem 0 2rem;
    font-weight: 400;
  }

  .link-items {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 13px;

    .link-item {
      display: inline-block;
      min-width: 100px;
      width: 45%;
      margin-bottom: 1rem;

      @media (min-width: 948px) {
        width: 25%;
      }
      a {
        color: #757575;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .designer,
  .designer a {
    color: #fff;
  }
}
