@import "./variable";

header {
  height: 30rem;
  background-color: $black;
  width: 100%;
  padding: 7rem 2rem;
  margin-bottom: 2rem;
  box-shadow: inset 250px 150px 250px $black, inset -100px -200px 250px $primary;

  .header-content {
    max-width: 500px;
    height: 274px;

    h1 {
      font-size: 3.5rem;
      margin: 0.5rem 0;
    }

    p {
      margin-top: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
    }

    button {
      padding: 0.5rem 2rem;
      background-color: $red;
      border-radius: 3px;
      cursor: pointer;
      border: none;
      color: $white;
      margin-right: 1rem;
      transition: all 0.3s linear;
      font-weight: 600;

      &:hover {
        color: darken($white, 20%);
        background-color: darken($red, 20%);
      }
    }
  }
}
